<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="mapper.ChatMapper">
	<cache />
	
	<select id="getChatListByID" parameterType="String" resultType="Chat">
		Select * from chat where ((fromID=#{0} AND toID=#{1}) OR (fromID=#{1} AND toID=#{0})) AND chatID > #{2} Order BY chatTime
	</select>
	
	<select id="getChatListByRecent" parameterType="HashMap" resultType="Chat">
		Select * from chat where ((fromID=#{fromID} AND toID=#{toID}) OR (fromID=#{toID} AND toID=#{fromID})) <![CDATA[ AND ROWNUM <= #{number} ]]> ORDER BY chatID DESC
	</select>
	
	<insert id="submit" parameterType="String">
		Insert into chat (fromID,toID,chatContent,chatTime) values(#{0},#{1},#{2},sysdate)
	</insert>
	
	<select id="getToChatRoom" parameterType="String" resultType="String">
		select DISTINCT toID from CHAT where fromID=#{0}
	</select>	
	
	<select id="getFromChatRoom" parameterType="String" resultType="String">
		select DISTINCT fromID from CHAT where toID=#{0}
	</select>

	

</mapper>