<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="mappers.ChatMapper">

	<insert id="addFriend" parameterType="HashMap">
		Insert into friend values(#{fromID},#{toID})
	</insert>
	
	<delete id="deleteFriend" parameterType="HashMap">
		Delete from friend where fromID = #{fromID} AND toID = #{toID}
	</delete>
	
	<select id="getFriends" parameterType="String" resultType="UserVO">
		select * from customer where cno in (select toid from friend where fromid = #{value})
	</select>
	
	<select id="getMyAllChat" parameterType="String" resultType="ChatVO">
		select * from CHAT where fromID = #{value} or toID = #{value} Order by chatID
	</select>
	
	<insert id="sendChat" parameterType="HashMap" >
		insert into chat (fromID,toID,chatContent,chatTime) values (#{fromID},#{toID},#{chatContent},sysdate)
	</insert>

	<select id="getChat" parameterType="HashMap" resultType="ChatVO">
		select * from CHAT where (fromID = #{fromID} or toID = #{fromID}) AND chatID > #{lastChatID} Order by chatID
	</select>
	
	<select id="searchUser" parameterType="String" resultType="UserVO">
		select * from customer where id = #{value}
	</select>

	<select id="searchFriend" parameterType="HashMap" resultType="String">
		select toID from friend where fromID = #{myCno} and toID = #{searchCno}
	</select>
	
	<select id="sender" parameterType="String" resultType="UserVO">
		select distinct * from customer where cno IN (select fromID from chat where toID = #{value}) 
	</select>
	
	<select id="receiver" parameterType="String" resultType="UserVO">
		select distinct * from customer where cno IN (select toID from chat where fromID = #{value}) 
	</select>
	
	<update id="readAllChat" parameterType="HashMap" >
		update chat set read = '1' where fromID = #{toChatID} AND toID = #{myUserID}
	</update>
	
	<select id="getUnreadChatCount" parameterType="HashMap" resultType="int">
		select count(*) from chat where fromID = #{toChatID} AND toID = ${myUserID} AND read = '0'
	</select>
	
	<update id="readChat" parameterType="String" >
		update chat set read = '1' where chatID = #{value}
	</update>
</mapper>















